@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tiro+Telugu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Tiro+Telugu&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}


.nav-container {
    width: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right, #46c6aa, #3dc0a0,
     #33b996, #2ab38b, #20ac81);}


.navbar_logo{
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img-logo{
    width:100px;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo p {
    cursor: pointer;
    padding-bottom: 0;
}

.p1{
    font-size: 18px;
    color: rgb(71, 148, 47);
    margin-bottom: 0;
    
}

.p2{
    font-weight: 900;
    font-size: 18px;
    color: rgb(196, 127, 38);
    margin-bottom: 0; 
}



.nav_menu_list{
    width: 700px;
    margin-bottom: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav_menu_list li a {
    padding: 15px 40px;
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.nav_menu_list li a:hover{
    padding: 20px 40px;
    padding-top: 22px;
    background-color: rgb(214, 156, 69);
    border: none;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    color: white;
}


.navbar_right{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.cta{
    padding: 0 5px;
}

.button-login{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    color: white;
    background-color: rgb(13, 134, 60);
    
}

.button-register-index{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    color: white;
    background-color: rgb(221, 162, 33);
}

.button-login:hover{
    background-color: rgba(3, 109, 34, 0.8);
}

.button-register:hover{
    background-color: rgb(190, 139, 27);
}

.container{
    max-width: 90%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.imagen-portada{
    width: 1700px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: block;
    justify-content: center;
    opacity: 70%;
}

.container-img{
    width: 150%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
}

footer{
    width: 100%;
    color: white;
    font-size: 15px;
    background-image: linear-gradient(to right, #46c6aa, #3dc0a0, #33b996,
     #2ab38b, #20ac81);
    text-align: center;

}

footer p{
    padding: 20px 0 ;
    margin-bottom: 0;
}


.text{
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 2px black;
}

.button-start{
    margin-top: 30px;
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    color: white;
    background-color: rgb(199, 39, 65);
}

.button-start:hover{
    background-color: rgb(126, 10, 30);
}

.container-plates{
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.img-platos1 {
    width: 200px;
    height: 200px;
}
.img-platos2 {
    width: 200px;
    height: 200px;
}
.img-platos3 {
    width: 150px;
    height: 190px;
    }

.img-platos4 {
    width: 150x;
    height: 190px;
}
.card-details   {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta{
    margin: 20px 20px ;
    width: 200px;
    height: 350px;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 0 20px;
}

.card-plate-name {
    font-weight: 800;
    font-size: 20px;
}

.card-title{
    width: 100%;
    height: 100px;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*     LOG SCREEN       */

.container-column-login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;

}

.container-imagen-login{
    width: 50%;
    overflow: hidden;

}

.container-login{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.imagen-logo-login{
    width: 100%;
    height: 90px;
    overflow: hidden;
}


.imagen-logo-login img {
    margin-left: 20px;
    width: 90px;
   
}

.container-imagen-login img{
    width: 150%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-imagen-login img:hover{
    opacity: 70%;
}


.form-control{

    width: 95%;
    height: 40px;
    border-radius: 10px;  
    padding: .30rem;
    }

.container-button-login{

    display: block;
    text-align: center;
    margin-top: 30px;
}

/* From uiverse.io */
.button-iniciar-sesion {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .button-iniciar-sesion:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .button-iniciar-sesion:active {
    transform: translateY(-1px);
  }


  /* button uiverse.io */






.form-group{
    font-size: small;
    text-align: center;
    margin-top: 20px;
}

.form-container label{
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-container  h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* register */

.container-imagen-register img{
    width: 130%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-imagen-register{
    width: 50%;
    overflow: hidden;
}

.container-imagen-register img:hover{
    opacity: 70%;
}

.form-control-register{

    width: 90%;
    height: 20px;
    padding: 3px;
    border-radius: 6px;
    border-color: green;
    }

.button-register{
        width: 50%;
        padding: 10px 20px;
        border: none;
        margin-top: 20px;
        font-size: 15px;
        border-radius: 50px;
        cursor: pointer;
        background-color: #e79f19;
        
    }
.button-register:hover{
        background-color: #bd8319;
    }

.form-label-1{
    padding-top: 15px;
    text-align: center;
}

/* Ejemplo de input */

.card-container{
    width: 200 px;
}

.form__group{
    --color: #5757577e;
    position: relative;
    margin: 20px 0;
    text-align: center;    
}

.form-input{
    width: 350px;
    font-family: inherit;
    font-size: 0.9rem;
    color: #706c6c;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--color);
}

.form_label{
    color: #5757577e;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 60px;
    transform: translate(10px);
    transition: transform .5s, color .3s;
}

.form-input:focus + .form_label, 
.form-input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: top left;
    --color: #3866f2;
}

.form-container{
    width: 500px;   
    height: 550px;
    box-shadow: 20px 15px 10px rgba(0, 0, 0, 0.26);
    margin: auto;

}


/* Aquí termina el ejemplo */


/* PAGINA DE PLANES */


.container-plans{
    width: 100%;
    height: 150vh;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}


.container-h1{
    width: auto;
    height: 120px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.container__plans{
    width: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-plans-card{
    width: 1100px;
    height: 75px;
    background: #f1eeee;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.container-plans-button{
    width: 350px;
    height: 70px;
    border-radius: 50px;
    background: #27884d;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.container-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5em;   
    cursor: pointer;
    justify-content: center;
    padding: 65px 0;
}

/* From uiverse.io by @Tiagoadag */

/* .card-1 {
    width: 350px;
    height: 650px;
    background-image: linear-gradient(163deg, #fca400 0%, #d49827 100%);
    border-radius: 20px;
    transition: all .3s;   
    display: flex;
   }
   
   .card2 {
    width: 350px;
    height: 650px;
    background-color: white;
    border-radius:20px;
    transition: all .2s;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
    */


    .card-1 {
        width: 372px;
        height: 600px;
        background: rgb(255, 255, 255);
        border-radius: 1em;
        box-shadow: 0.3em 0.3em 0.7em #00000015;
        transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        border: rgb(222, 250, 209) 0.15em solid;
       }
       
       .card-1:hover {
        border: #ff9900 0.15em solid;
        box-shadow: 10px 5px 2.5px 1px rgba(0, 0, 0, 0.144);
       }



/* From uiverse.io by @Tiagoadag */

.card-h3{
    width: 100%;
    height: 80px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-price{
    width: 100%;
    height: 80px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;    
}


.card-button{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-button-plan{
    width: 300px;
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #292929;
    color: white;
}

.card-plan-h3{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.card-plan-h3 h3{
    color: rgb(175, 173, 173);
    font-weight: 200;
    font-size: 15.4px;
    text-align: center;

}

.card-line{
    width: 300px;
    height: 30px;
    border-bottom: 1px solid rgb(212, 212, 212);
    margin-left: auto;
    margin-right: auto;
}

.section-recomendaciones{
    width: 275px;
    margin-left: auto;
    margin-right: auto;
}

.section-recomendaciones h3{
    font-weight: 200;
    margin: 10px 0;
    font-size: 15px;
}

.card-textlist{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0.5em;
}


/* svg{
    width: 15px;
    filter: invert(52%) sepia(33%) saturate(840%) hue-rotate(111deg) brightness(99%) contrast(98%);
} */

.card-textlist2{
    height: 50px;
}


