<main class="index">

<header class="nav-container">
        <div class="logo">
            <a href="/"><img class="img-logo" src="../img/LOGO (3).png" alt=""></a>
            <p class="p1">Ance</p>
            <p class="p2">Food</p>
        </div>
        <nav class="navbar_container">
            <ul class="nav_menu_list">
                <li><a href="/">Inicio</a></li>
                <li><a href="planes.html">Planes</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </nav>
        <div class="navbar_right">
            <a href="/signin" class="cta"><button class="button-login">Ingresar</button></a>
            <a href="/signup" class="cta"><button class="button-register-index">Registrar</button></a>
        </div>
    </header>
    <div class="container">
        <section class="container-img">
            <img class="imagen-portada" src="./img/zyro-image.png" alt="">
            <div class="text">
                <h1>AnceFood | Restaurantes</h1>
                <h2>Comidas deliciosas, variadas y nutritivas</h2>
                <p>¡Olvidate de cocinar y disfruta tu tiempo libre!</p>
                <a href="login.html" class="cta"><button class="button-start">¡Empieza ya!</button></a>
            </div>
        </section>
    </div>
        <section class="container-plates">
            <div class="card-title">
                ¡Platos con sabor Casero!
            </div>
            <div class="container-details">

                <div class="tarjeta card-details">
                    <img class="img-platos1" src="./img/arroz-verde.jpg" alt="">
                    <div class="card-plate-name">Arroz con Pollo</div>
                    <br>
                    <div class="card-plate-kcal">600 Kcal</div>
                </div>
                <div class="tarjeta card-details">
                    <img class="img-platos2" src="./img/lomo-saltado (1).webp" alt="">
                    <div class="card-plate-name">Lomo Saltado</div>
                    <br>
                    <div class="card-plate-kcal">600 Kcal</div>
                </div>
                <div class="tarjeta card-details">
                    <img class="img-platos3" src="./img/carapulcra.jpg" alt="">
                    <div class="card-plate-name">Carapulcra</div>
                    <br>
                    <div class="card-plate-kcal">600 Kcal</div>
                </div>
                <div class="tarjeta card-details">
                    <img class="img-platos4" src="./img/tallarines-al-pesto-con-bisteck.jpg" alt="">
                    <div class="card-plate-name">Tallariles al pesto con bisteck</div>
                    <br>
                    <div class="card-plate-kcal">600 Kcal</div>
                </div>

            </div>
        </section>
    

    <footer>
        <p>AnceFood | Comidas saludables <br> Todos los derechos reservados <br> 2022</p>
    </footer>

    </main>