 <div class="container-column-login">
        <div class="container-imagen-register">
            <img src="/img/image-registro.jpg" alt="">
        </div>
        <i class="fa-solid fa-user"></i>

        <div class="container-login">
            <div class="imagen-logo-login">
                <a href="/"><img src="/img/LOGO (2).png" alt=""></a>
            </div>
            <form class="form-container card-container" action="/signup" method="post">
                <h1>Registro</h1>
                <div class="form__group">
                    <input type="text" id="nomb" name="nombre" class="form-input" placeholder=" " autofocus>
                    <label for="" class="form_label">Ingrese su Nombre</label>
                </div>
                <div class="form__group">
                    <input type="text" id="ape" name="apellidos" class="form-input" placeholder=" ">
                    <label for="" class="form_label">Ingrese sus Apellidos</label>
                </div>
                <div class="form__group">
                    <input type="email" name="email" id="email" placeholder=" " class="form-input">
                    <label class="form_label">Ingrese su correo electronico</label>
                </div>
                <div class="form__group">
                    <input type="password" name="password" placeholder=" " class="form-input">
                    <label class="form_label">Ingrese su contraseña</label>
                </div>
                <div class="container-button-login">
                    <button type="submit" class="button-register">Registrar</button>
                </div>
                <div class="form-label-1">
                    <Label>¿Ya eres miembro? <a href="signin">Inicia tu sesión</a></Label>
                </div>
            </form>

        </div>
    </div>
    </div>